@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Màu các yếu tố chính*/
        --background: #ffffff;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu các yếu tố phụ */
        --border: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring: #ffffff;

        /* Chưa biết để làm gì */
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .Light {
        /* Màu các yếu tố chính*/
        --background: #ffffff;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu các yếu tố phụ */
        --border: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring: #ffffff;

        /* Chưa biết để làm gì */
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    .Dark {
        /* Màu các yếu tố chính*/
        --background: #020021;
        --foreground: #0b2036;
        --card: #f8e6c1;
        --card-foreground: #ffffff;
        --popover: #f8e6c1;
        --popover-foreground: #ffffff;
        --primary: #e0e0e0;
        --primary-foreground: #1a1a2a;
        --secondary: #ffffff;
        --secondary-foreground: #010011;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #0a0020;
        --destructive-foreground: #040404;
        /* Màu các yếu tố phụ */
        --border: #ffffff;
        --underline: #504663;
        --input: #ffffff;
        --ring: #ffffff;

        /* Chưa biết để làm gì */
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    .Spring {
        /* Màu các yếu tố chính*/
        --background: #ffffff;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu các yếu tố phụ */
        --border: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring: #ffffff;

        /* Chưa biết để làm gì */
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    .Summer {
        /* Màu các yếu tố chính*/
        --background: #ffffff;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu các yếu tố phụ */
        --border: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring: #ffffff;

        /* Chưa biết để làm gì */
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    .Fall {
        /* Màu các yếu tố chính*/
        --background: #ffffff;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu các yếu tố phụ */
        --border: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring: #ffffff;

        /* Chưa biết để làm gì */
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    .Winter {
        /* Màu các yếu tố chính*/
        --background: #ffffff;
        --foreground: #ffffff;
        --card: #ffffff;
        --card-foreground: #ffffff;
        --popover: #ffffff;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #ffffff;
        --muted: #ffffff;
        --muted-foreground: #ffffff;
        --accent: #ffffff;
        --accent-foreground: #ffffff;
        --destructive: #ffffff;
        --destructive-foreground: #ffffff;
        /* Màu các yếu tố phụ */
        --border: #ffffff;
        --underline: #ffffff;
        --input: #ffffff;
        --ring: #ffffff;

        /* Chưa biết để làm gì */
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
