.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.forminput {
    @apply pl-1 h-9 w-full outline-none rounded-card;
}
.labelTextStyle {
    @apply font-header3_5 text-accent;
}
.divFormStyle {
    @apply no-underline;
}
